<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wj.dao.ExamMapper">
    <!-- 管理员查询考试信息 -->
    <select id="allExam" resultType="ExamInformation">
        select * from exam_information
    </select>
    <!-- 管理员创建考试信息 -->
    <insert id="adminExamAdd" parameterType="ExamInformation">
        insert into exam_information(examname,begindate,enddate,password,examtime,teacher,chaptertwo,choicenum,choicescore,
           judgenum,judgescore,difficulty)
        values(#{examname},
         #{begindate},
           #{enddate},
                  #{password},
                   #{examtime},
                    #{teacher},
                    #{chaptertwo},
                    #{choicenum},
                    #{choicescore},
                    #{judgenum},
                    #{judgescore},
                    #{difficulty})
    </insert>
    <!-- 生成选择题 -->
    <select id="RandChoice" resultType="PaperChoice">
            select content,aoption,boption,coption,doption,answer from tk_choice
            where chaptertwo=#{chaptertwo} and difficulty=#{difficulty}
            order by RAND() limit #{choicenum}
    </select>
    <!-- 判断题生成 -->
    <select id="RandJudge" resultType="PaperJudge">
            select content,answer from tk_judge
            where chaptertwo = #{chaptertwo} and  difficulty=#{difficulty}
            order by RAND() limit #{judgenum}
    </select>
    <!-- 选择题试卷生成 -->
    <insert id="insertRandChoice" parameterType="java.util.List">
        insert into paper_choice(content, aoption,boption,coption,doption, answer ,examid)
        VALUES
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.content},#{item.aoption},#{item.boption},#{item.coption},#{item.doption},#{item.answer},#{item.examid})
        </foreach>
    </insert>
    <!-- 判断题试卷生成 -->
    <insert id="insertRandJudge" parameterType="java.util.List">
        insert into paper_judge(content,answer,examid)
        VALUES
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.content},#{item.answer},#{item.examid})
        </foreach>
    </insert>
    <!-- 获得试卷id -->
    <select id="findExamId" parameterType="ExamInformation" resultType="ExamInformation">
        select * from exam_information where examname=#{examname}
    </select>
    <!-- 通过id获取试卷基本信息 -->
    <select id="findByExamId" parameterType="int" resultType="ExamInformation">
        select * from exam_information where id=#{0}
    </select>
    <!--  通过examId获取选择题试卷  -->
    <select id="findPaperChoiceByExamId" resultType="PaperChoice" parameterType="int">
        select * from paper_choice where examid=#{0}
    </select>
    <!--  通过examId获取判断题试卷  -->
    <select id="findPaperJudgeByExamId" resultType="PaperJudge" parameterType="int">
        select * from paper_judge where examid=#{0}
    </select>
    <!-- 通过id查找学生考试 -->
    <select id="ByStudentId" parameterType="int" resultType="ExamHistory">
        select * from examhistory where studentid=#{0}
    </select>
    <!-- 通过试卷id查询所有考试信息 -->
    <select id="AlreadExam" parameterType="java.util.List" resultType="ExamInformation">
        select * from exam_information
        where id in
        <foreach collection="list" item="item" index="index" separator=",">
            #{item}
        </foreach>
    </select>
    <!--  通过试卷id获取考试记录信息 -->
    <select id="ByExamId" parameterType="int" resultType="ExamHistory">
        select * from examhistory where examid=#{0} order by score desc
    </select>


</mapper>
















