<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wj.dao.UserMapper">
    <!-- 用户登录验证 -->
    <select id="login" parameterType="User" resultType="User">
        select * from tb_user where username=#{username}
    </select>

    <!-- 更新密码 -->
    <update id="updatepassword" parameterType="User">
        update tb_user set password=#{password} where id=#{id}
    </update>

    <!-- 查询所有教师信息 -->
    <select id="findAllTeacher" resultType="Teacher">
        select * from teacher
    </select>

    <!--添加教师信息-->
    <insert id="createTeacher" parameterType="Teacher">
        insert into teacher(username,major,level,mail,password)
        VALUES(#{username},#{major},#{level},#{mail},#{password})
    </insert>

    <!-- 删除教师信息 -->
    <delete id="delTeacher" parameterType="int">
        delete from teacher where id=#{0}
    </delete>

    <!-- 通过id查询教师信息-->
    <select id="selTeacherById" parameterType="long" resultType="Teacher">
        select * from teacher where id=#{0}
    </select>
    <!-- 更新教师信息-->
    <update id="updateTeacher" parameterType="Teacher">
        update teacher set
        id=#{id},
        username=#{username},
        major=#{major},
        level=#{level},
        mail=#{mail},
        password=#{password}
        where id=#{id};
    </update>
    <!-- 批量删除教师信息-->
    <delete id="delManyTeacher" parameterType="int[]">
        delete from teacher where id in
        <foreach collection="array" item="id" index="index" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    <!-- 查询知识点一级目录 -->
    <resultMap id="categoryBean" type="Point1">
        <id column="cid" property="id"/>
        <result column="cname" property="pointname"/>
        <collection property="point2" ofType="Point2">
            <id column="pid" property="bid"/>
            <result column="pname" property="pname"/>
        </collection>
    </resultMap>
    <select id="findPoint1All" resultMap="categoryBean" >
        select c.*,p.*,c.id 'cid',p.bid 'pid',c.pointname 'cname',p.pname 'pname'
        from Point1 c
        left join point2 p on c.id=p.aid
    </select>

    <!-- 增加一级目录 -->
    <insert id="addPoint1" parameterType="Point1">
        insert into point1(pointname) values(#{pointname});
    </insert>

    <!-- 显示一级目录 -->
    <select id="Point1All" resultType="Point1">
        select * from point1;
    </select>
</mapper>














